#userinfo div {
  padding: 1em; 
}
.vip {
  background-color: palegreen; 
}
.prio2 {
  background-color: rgba(143,188,143, 0.5); 
}
.prio3 {
  background-color: rgba(211,211,211, 0.75);
}


body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #fef2c0;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  /* width: 50%; */
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

table {
  border-collapse: collapse;
}

th, td, tr {
  padding-right: 40px;
  padding-left: 10px;
  text-align: left;
  border-bottom: 1px solid #ffea51;
}

.topics tr { line-height: 14px; }

tr.container {height:0px;}

tr:hover { background-color: #ffea51 }

textarea { 
  font-family: monospace; 
  font-size: 14px;
}

/* original css:

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

*/